/***************
  Nav Styles
***************/
#nav {
    background: transparent;
    border: none;
    padding-bottom: 30px;
    padding-top: 30px;
    height: 75px;
  }

.navbar-header {
    position: absolute;
    left: 14vw;
}

#left-list {
    position: relative;
    right: 11vw;
}
.navbar-brand {
  font-size: calc(2vw + 4px);
  color:black !important;
}
.nav-list-item {
  margin-left: 1vw;
  margin-right: 1vw;

  a {
    color:black !important;
  }
}
