/***************
  Nav Styles
***************/
#nav {
    background: transparent;
    border: none;
    margin-top: 25px;
}

.navbar-header {
    position: absolute;
    left: 14vw;
}

#left-list {
    position: relative;
    right: 11vw;
}
.navbar-brand {
  font-size: calc(3vw + 2px);
  color:white !important;
}
.nav-list-item {
  margin-left: 1vw;
  margin-right: 1vw;

  a {
    color:white !important;
  }
}
