/*********************
    SectionA Styles
*********************/
#sectionA {
    background: white;
    height: 45vh;
    width: 100%;
    text-align: center;

    .container {
        position: absolute;
    }
}

#sectionA-break {
    width: 20%;
    border-color: blue;
}
