/*********************
    SectionA Styles
*********************/
#sectionC {
    background: #1e4ebf;
    height: 94vh;
    width: 100%;
    text-align: center;

    .container {
        position: absolute;
    }
}

#sectionC-break {
    width: 20%;
    border-color: white;
}

.section-title {
    font-size: calc(3.5vw + 5px);
}
#sectionC-content {
  color:white;
}
