/*************
    Slider
*************/
#slider {
    background: pink;
    width: 100%;
    text-align: center;

    .container {
        position: absolute;
    }
}

#slides {
  height: 500px !important;

}


#slider-content {
  padding: 0;
}
#slider-wrapper {
  padding: 0;
}
.quilt-squares {
  padding: 0;
}
.quilt-squares-b {
  padding: 0;
}
